#root {
  margin: 0 0; 
  text-align: center;
}

@font-face {
  font-family: w95;
  src: url('./assets/W95FA.otf');
}

.layout {
  display: flexbox;
  width: 100vw;
  height: 100vh;
}

.main-content {
  width: 100vw;
  height: 100%;
  background-color: #469;
}

.desktop-space {
  display: flex;
  width: 100vw;
  z-index: 1;
}

.window-space {
  z-index: 0;
}

.app-start-menu {
  position: absolute;
  bottom: 75px; left: 0;
  min-width: 370px;
  max-width: 50vw;
  min-height: 540px;
  max-height: 80vh;
  align-items:baseline;
  background-image: url('assets/StartMenuBg.jpg')
}

.task-bar-wrapper {
  padding: 0;
  margin: 0;
}

.task-bar {
  display: flex;
  position: absolute;
  width: 100vw;
  min-height: 74px;
  align-items: center;
  bottom: 0;
  margin-top: 8px;
  background-color: #aaa;
  color: black;
}