#root {
  margin: 0 0; 
  text-align: center;
}

@font-face {
  font-family: w95;
  src: url('./assets/W95FA.otf');
}

.layout {
  display: flexbox;
  width: 100vw;
  height: 100vh;
}

.main-content {
  width: 100vw;
  height: 100%;
  background-color: #469;
}

.desktop-space {
  display: grid;
  justify-content: center;
}

.window-space {
}

.task-bar-wrapper {
  padding: 0;
  margin: 0;
}

.task-bar {
  display: flex;
  position: absolute;
  width: 100vw;
  align-items: center;
  bottom: 0;
  margin-top: 8px;
  background-color: #aaa;
  color: black;
}