#root {
  margin: 0 0; 
  text-align: center;
}

@font-face {
  font-family: w95;
  src: url('./assets/W95FA.otf');
}

.layout {
  display: flex;
  flex-direction: column;
}

.task-bar {
  display: flex;
  flex-direction: row;
  /*align-content: center;*/
  align-items: center;
  max-height: 8vh;
  min-height: 60px;
  padding: 8px;
  background-color: #aaa;
  color: black;
}

.main-content {
  flex-grow: 1;
  display: grid;
  height: 90vh;
  /* TODO: fix main-content shrinking task-bar less than 60px */
  width: 100vw;
  background-color: #469;
  color: white;
}

.desktop-space {
  grid-area: 1 / 1;
  align-content: center;
  align-items: left;
}

.window-space {
  grid-area: 1 / 1;
  display: block;
}