  .start-menu-layout {
    display: grid;
    height: auto;
    width: 100%;
    align-content: baseline;
  }

  .start-menu-btn-container {
    grid-area: 1 / 1;

  }

  .start-menu-task-0 {
    position: relative;
    left: 16%;
    margin-top:9%;
    background-color: #888;
    background-image: url('assets/StartShutdown.webp');
    min-width: 300px;
    max-width: max-content;
    min-height: 64px;
  }

  .start-menu-task-0:hover {
    background-image: url('assets/StartShutdownHover.webp');
  }

  .start-menu-task-1 {
    position: relative;
    left: 16%;
    margin-top: 02%;
    background-color: #bbb;
    background-image: url('assets/StartAbout.jpg');
    min-width: 300px;
    max-width: max-content;
    min-height: 64px;
  }

  .start-menu-task-1:hover {
    background-image: url('assets/StartAboutHover.jpg');
  }

  .start-menu-task-2 {
    position: relative;
    left: 16%;
    margin-top: 02%;
    background-color: #bbb;
    background-image: url('assets/StartGithub.jpg');
    min-width: 300px;
    max-width: max-content;
    min-height: 64px;
  }

  .start-menu-task-2:hover {
    background-image: url('assets/StartGitHubHover.jpg');
  }

  .start-menu-task-3 {
    position: relative;
    left: 16%;
    margin-top: 02%;
    background-color: #888;
    background-image: url('assets/StartLinkedin.jpg');
    min-width: 300px;
    max-width: max-content;
    min-height: 64px;
  }

  .start-menu-task-3:hover {
    background-image: url('assets/StartLinkedinHover.jpg');
  }

  .start-menu-task-4 {
    position: relative;
    left: 16%;
    margin-top: 02%;
    background-color: #888;
    background-image: url('assets/StartMisc2.webp');
    min-width: 300px;
    max-width: max-content;
    min-height: 64px;
  }

  .start-menu-task-4:hover {
    background-image: url('assets/StartMisc2Hover.webp');
  }

  .start-menu-task-5 {
    position: relative;
    left: 16%;
    margin-top: 02%;
    background-color: #888;
    background-image: url('assets/StartMisc1.webp');
    min-width: 300px;
    max-width: max-content;
    min-height: 64px;
  }

  .start-menu-task-5:hover {
    background-image: url('assets/StartMisc1Hover.webp');
  }

  .start-menu-task-6 {
    position: relative;
    left: 16%;
    margin-top: 02%;
    background-color: #888;
    background-image: url('assets/StartPrograms.webp');
    min-width: 300px;
    max-width: max-content;
    min-height: 64px;
  }

  .start-menu-task-6:hover {
    background-image: url('assets/StartProgramsHover.webp');
  }
