.btn-start {
    display: flex;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 1px;
    border-radius: 0;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
    flex-shrink: inherit;
  }
  
  .btn-start:hover {
    filter: brightness(70%);
  }  
  
  .btn-task-wrapper {
    display: flex;
  }

  .btn-task-layout {
    display:flex;
  }

  .btn-task {
    display: grid;
    align-items: center;
    padding: 0;
    margin-left: 10px;
    border: none;
    background-color: transparent;
    min-height: 74%; 
    /* min-width: 200px; */
    /* max-width: 30vw; */
    /* width: 27.3vw; */
  }
  
  .btn-task:hover {
    filter: brightness(70%);
  }

  .btn-start-bg {
    grid-area: 1 / 1;
    height: 74%;
    object-fit: fill;
  }

  .btn-task-bg {
    grid-area: 1 / 1;
    height: 74%;
    min-width: 140px;
    width: 18vw;
    object-fit: fill;
  }

  .btn-text {
    grid-area: 1 / 1;
    color: black;
    font-size: 1.6rem;
    font-family: w95;
    /*margin: 10px;*/
    margin-left: 16px;
    text-align: left;
  }

  .clock-layout {
    position: absolute;
    right: 10px;
  }

  .clock {
    display: grid;
    place-items: center;
    padding: 0;
    border: none;
    white-space: nowrap;

  }

  .clock-bg {
    grid-area: 1 / 1;
  }


  .clock-text {
    grid-area: 1 / 1;
    color: black;
    font-size: 1.6rem;
    font-family: w95;
    margin: 10px;
  }