  .btn-layout {
    display: flex;
    flex-shrink: inherit;
    height: 7vh;
    /*margin: 6px;*/
    align-content: center;
  }
  
  .btn-start {
    display: flex;
    padding: 1px;
    border-radius: 0;
    background-color: #888;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
    flex-shrink: inherit;
  }
  
  .btn-start:hover {
    filter: brightness(70%);
  }

  .btn-task-layout {
    display: flex;
    flex-grow: inherit;
    height: 7vh;
    /*margin-top: 6px;*/
    gap: 10px;
  }

  .btn-task {
    display: grid;
    align-items: center;
    justify-items: start;
    padding: 1px;
    margin-left: 10px;
    border: none;
    border-radius: 0;
    background-color: #aaa;
    cursor: pointer;
    max-width: 32vw;
    flex-grow: 1;
    flex-shrink: inherit;
    
  }
  
  .btn-task:hover {
    filter: brightness(70%);
  }

  .btn-task-bg {
    grid-area: 1 / 1;
    width: 100%;
    height: auto;
  }

  .btn-task-img {
    grid-area: 1 / 1;
    height: auto;
  }

  .btn-text {
    grid-area: 1 / 1;
    color: black;
    font-size: 1.6rem;
    font-family: w95;
    /*margin: 10px;*/
    margin-left: 16px;
    text-align: left;
    /* TODO: Fix text being in bottom left instead of center left */
  }

  .clock-layout {
    display: flex;
    flex-grow: 1;
    /*height: 7vh;*/
    /*margin-top: 6px;*/
    
    /*margin-bottom: 6px;*/
    align-items: center;

    margin-left: auto; 
    margin-right: 20px;
    max-width: 8vw;

    /* TODO: need to fix clock right margin */
  }

  .clock {
    display: grid;
    height: 100%;
    place-items: center;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: #888;
    cursor: default;
    flex-grow: 1;
    flex-shrink: inherit;
  }
/*
  .clock-bg {
    grid-area: 1 / 1;
    width: 100%;
    height: auto;
    object-fit: cover; 
    max-height: 100%;
  }*/

  .clock-bg {
    grid-area: 1 / 1;
    height: 100%;       /* match parent height */
    width: auto;        /* let width adjust automatically */
    object-fit: cover;  /* crop if needed */
    overflow: hidden;
  }


  .clock-text {
    grid-area: 1 / 1;
    color: black;
    font-size: 1.6rem;
    font-family: w95;
    margin: 10px;
  }